body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-height: 100vh;
    margin: 0;
    padding: 10px;
    justify-content: center;
    font-family: 'Ruda', sans-serif;
}

.header {
    text-align: center;
    height: 10%;
    padding: 10px
}




img {
    width: 500px;
    max-height: 600px;
}

.main {
    text-align: center;
}

.info {
    display: flex;
}