body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-height: 100vh;
    margin: 0;
    padding: 10px;
    justify-content: center;
}

img {
    width: 500px;
    max-height: 600px;
}